/* Palette */

:root {
  --bakground: #202030;
  --dark: #39304A;
  --foreground-1: #635C51;
  --foreground-2: #7D7461;
  --foreground-3: #B0A990;
  --light-1: #CBC6B5;
  --light-2: #E8E6E3;
  --light-3: #EDEBE9;

  --other-1: #D1CCDC;
  --other-2: #F5EDF0;
  --other-3: #886F68;
  --other-4: #3D2C2E;
}

/* Styles */

@font-face {
  font-family: 'Share Tech Mono'; /* Choose a unique name for your font */
  src: url('fonts/ShareTechMono-Regular.ttf') format('truetype');
}

.upload {
    padding: 10px 20px;
    background-color: var(--foreground-1);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.title-box {
  color: var(--other-2);
  text-wrap: wrap;
  text-align: center;
  align-self: center;
  width: 100%;
  height: 100%;
  background-image: url('images/title-box-image.jpg');
  font-family: 'Share Tech Mono', monospace;
  font-size: 100px;
  line-height: 110px;
} 

.sides-container {
  display: flex;
}

.text-box-hlm {
  color: var(--bakground);
  text-align: center;
  padding: 10px;
  border-style: solid;
  border-radius: 10px;
  width: 49.5%;
  height: 10%;
  background-color: var(--foreground-1);
  font-family: 'Share Tech Mono', monospace;
  font-size: 30px;
}

.image { 
  align-self: auto;
  border-radius: 10px;
  width: 99%;
  height: 10%;
  font-size: 100px;
}

.text-box-hls {
  padding: 10px;
  color: var(--bakground);
  text-align: center;
  align-self: center;
  border-radius: 10px;
  width: 49.5%;
  height: 10%;
  background-color: var(--foreground-1);
  font-family: 'Share Tech Mono', monospace;
  font-size: 30px;
}

body {
  background-color: var(--bakground);
}