.upload {
    padding: 10px 20px;
    background-color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
.titleBox {
  color: white;
  text-align: center;
  margin: 
  width: 100%;
  height: 10%;
  background-image: url('images/Learn-to-Code.jpg');
  font-family: 'Roboto Mono', monospace;
  font-size: 100px;  
  line-height: 10px;
} 

.text {
  color: white;
  text-align: left;
  padding-left: 10px;
  align-self: center;
  border-color: #474756;
  border-style: solid;
  border-radius: 10px;
  width: 50%;
  height: 10%;
  background-color: #104159;
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
}

.image {
  align-self: right;
  padding: 20px 0px;
  border-radius: 10px;
  width: 40%;
  height: 10%;
  font-size: 100px;
}

body {
  background-color: #282830;
}