@import "tailwindcss";

:root {
    background-color: rgb(31, 31, 31);
    font-family: 'Share Tech Mono';
    src: url('assets/ShareTechMono-Regular.ttf') format('truetype');
    --headerFooterColor: rgb(13, 0, 71);
    --headerButtonColor: rgb(39, 19, 131);
}

li {
    display: inline-block;
    margin-right: 60px;
    margin-bottom: 2.5px;
    margin-top: 2.5px;
}

h1 {
    color: white;
}

header {
    background-color: var(--headerFooterColor);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

header ul {
    align-self: center;
}

header h1 {
    align-self: center;
    margin-left: 1.5vw;
}

header button {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: var(--headerButtonColor);
    color: rgb(31, 31, 31);
    font-weight: 600;
    width: 150%;
    height: 100%;
    font-size: 15px;
}

footer {
    background-color: var(--headerFooterColor);
    list-style-type: none;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

#top-title {
    display: flex;
    justify-self: center;
    font-size: 50px;
    line-height: 0.98;
    letter-spacing: 80px;
    white-space: pre-wrap;
}

#hlm {
    background-color: var(--headerFooterColor);
    border-radius: 10px;
    padding-left: 2vw;
}

#hlm p {
    color: white;
}