@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
:root {
    background-color: #0B032D;
    font-family: 'Share Tech Mono', monospace;
    --headerFooterColor: #404070;
    --headerButtonColor: #4A6FA5;
    --headerButtonTextColor: #0B032D
}

li {
    display: inline-block;
    margin-right: 60px;
    margin-bottom: 2.5px;
    margin-top: 2.5px;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

header {
    background-color: var(--headerFooterColor);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

header ul {
    align-self: center;
}

header h1 { 
    align-self: center;
    margin-left: 1.5vw;
}

header button {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: var(--headerButtonColor);
    color: var(--headerButtonTextColor);
    font-weight: 600;
    width: 150%;
    height: 100%;
    font-size: 15px;
}

footer {
    background-color: var(--headerFooterColor);
    list-style-type: none;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.top-title{
    display: flex;
    justify-self: center;
    font-size: 50px;
    white-space: pre-wrap;
}

.centered {
    display: flex;
    justify-self: center;
    white-space: pre-wrap;
}

.desc-cont {
    display: flex;
    margin-bottom: 0.9vw;
}

.desc {
    display: grid;
    place-items: center;
    width: 100%; 
    padding-bottom: 5vh;
    gap: 1vh; 
    width: calc(45.5%); 
    flex-basis: auto;
    background-color: var(--headerFooterColor);
    border-radius: 10px;
    padding-left: 2vw;
    padding-right: 2vw;
    margin: 0;
    color: white;
}

.desc.right {
    margin-left: auto;
}

@media (max-width: 750px) {
    #desc {
        flex-direction: column;
        gap: 2vh; 
    }

    .hlm, .hls {
        width: 100%;
    }

    .desc {
        width: calc(44.5%);
    }

    .desc.right {
        margin-left: auto;
    }

    .desc-cont {
        margin-bottom: 2.4vw;
    }
}

a:visited {
    color: blue; /* Must match the color defined for 'a' */
}

.product-container {
    color: white;
}